In [ ]:
print("hello")

In [ ]:
def f(x):
    return x**2